Repository DisasterKok/Disaterkok_frontend, pull requests merged in 2023-12, with the labels that each got.

#50 홈 화면 날씨 위젯 UI
  env.d.ts
  src/apis/weatherAPI/CoordinateConv.ts
  src/apis/weatherAPI/getDustInfo.ts
  src/apis/weatherAPI/getDustStation.ts
  src/apis/weatherAPI/getTMCoords.ts
  src/apis/weatherAPI/getUvInfo.ts
  src/assets/weatherIcons/dust_bad.png
  src/assets/weatherIcons/dust_good.png
  src/assets/weatherIcons/dust_worst.png
  src/assets/weatherIcons/humidity/five.png
  src/assets/weatherIcons/humidity/four.png
  src/assets/weatherIcons/humidity/one.png
  src/assets/weatherIcons/humidity/six.png
  src/assets/weatherIcons/humidity/three.png
  src/assets/weatherIcons/humidity/two.png
  src/assets/weatherIcons/humidity/zero.png
  src/assets/weatherIcons/rain/five.png
  src/assets/weatherIcons/rain/four.png
  src/assets/weatherIcons/rain/one.png
  src/assets/weatherIcons/rain/six.png
  src/assets/weatherIcons/rain/three.png
  src/assets/weatherIcons/rain/two.png
  src/assets/weatherIcons/rain/zero.png
  src/assets/weatherIcons/uv/five.png
  src/assets/weatherIcons/uv/four.png
  src/assets/weatherIcons/uv/one.png
  src/assets/weatherIcons/uv/six.png
  src/assets/weatherIcons/uv/three.png
  src/assets/weatherIcons/uv/two.png
  src/assets/weatherIcons/uv/zero.png
  src/components/Home/SwitchButton.tsx
  src/components/Home/WeatherCards/Card.tsx
  src/components/Home/WeatherCards/DustCard.tsx
  src/components/Home/WeatherCards/HumidCard.tsx
  src/components/Home/WeatherCards/RainyCard.tsx
  src/components/Home/WeatherCards/TemperatureCard.tsx
  src/components/Home/WeatherCards/UVCard.tsx
  src/components/Home/WeatherSection.tsx
  src/components/Search/SearchBar.tsx
  src/components/SelectAddress/AliasPostcode.tsx
  src/components/SelectAddress/AliasTypeButton.tsx
  src/components/SelectAddress/GetAddressCoords.tsx
  src/components/SelectAddress/GetCurrentLocation.tsx
  src/components/common/Modal/BottomSheetModal/AddressSetting/TownList.tsx
  src/constants/colors.js
  src/hooks/useAddressData.tsx
  src/screens/Home.tsx
  src/screens/SelectLocation.tsx
Labels: 📬 API, 🎨 Html&css, ✨ Feature

#51 재난 게시글 POST & GET
  .eslintrc
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  ios/disaterkok_frontend/Info.plist
  package-lock.json
  package.json
  src/apis/reportsAPI.ts
  src/apis/userAPI.ts
  src/components/Home/ReportSection.tsx
  src/components/Search/ReportListPreview.tsx
  src/components/Search/SearchResult.tsx
  src/components/SelectAddress/GetCurrentLocation.tsx
  src/components/common/ReportArticle/ReportArticleCard/ReportArticleCard.tsx
  src/components/common/ReportArticle/ReportArticleCard/types.ts
  src/components/common/ReportArticle/ReportArticleList/ReportArticleList.tsx
  src/constants/DummyArticle.ts
  src/hooks/queries/Auth/types.ts
  src/hooks/queries/Auth/useAsyncStorage.tsx
  src/hooks/queries/Auth/useSignIn.tsx
  src/hooks/queries/Auth/useUser.tsx
  src/hooks/queries/Auth/useUserAsyncStorage.tsx
  src/hooks/queries/Reports/usePostReport.tsx
  src/hooks/queries/Reports/useReportLike.tsx
  src/hooks/queries/Reports/useReportListQuery.tsx
  src/hooks/queries/Reports/useReportQuery.tsx
  src/navigation/HomeStack.tsx
  src/navigation/types.ts
  src/screens/CompleteReportPost.tsx
  src/screens/Home.tsx
  src/screens/ReportArticleDetail.tsx
  src/screens/ReportList.tsx
  src/screens/ReportPost.tsx
  src/screens/SelectLocation.tsx
  src/utils/.gitkeep
  src/utils/convertDataFormat.ts
  src/utils/getElapsedTime.ts
Labels: 📬 API, ✨ Feature

#57 솔루션 페이지 UI
  package-lock.json
  package.json
  src/apis/weatherAPI/getDustStation.ts
  src/assets/disasterIcons/Infectiousdiseases/Infectiousdiseases.png
  src/assets/disasterIcons/airpollution/airpollution.png
  src/assets/disasterIcons/downpour/downpour.png
  src/assets/disasterIcons/earthquake/earthquake.png
  src/assets/disasterIcons/earthquake/solution/earthquake_1.png
  src/assets/disasterIcons/earthquake/solution/earthquake_2.png
  src/assets/disasterIcons/earthquake/solution/earthquake_3.png
  src/assets/disasterIcons/earthquake/solution/earthquake_4.png
  src/assets/disasterIcons/earthquake/solution/earthquake_5.png
  src/assets/disasterIcons/electrical/electrical.png
  src/assets/disasterIcons/flood/flood.png
  src/assets/disasterIcons/forestfires/forestfires.png
  src/assets/disasterIcons/heatwave/heatwave.png
  src/assets/disasterIcons/heavysnow/heavysnow.png
  src/assets/disasterIcons/landslide/landslide.png
  src/assets/disasterIcons/typhoon/typhoon.png
  src/components/Home/WeatherSection.tsx
  src/navigation/TabNavigator.tsx
  src/screens/Solution.tsx
Labels: 🎨 Html&css, ✨ Feature

#63 UI 깨짐 현상 수정 + 게시글 검색 기능
  src/apis/reportsAPI.ts
  src/assets/onboarding/onboarding_1.png
  src/assets/onboarding/onboarding_2.png
  src/assets/onboarding/onboarding_3.png
  src/assets/social/facebook.png
  src/assets/social/google.png
  src/assets/social/instagram.png
  src/assets/social/kakao.png
  src/assets/social/naver.png
  src/assets/social/twitter.png
  src/components/Home/ReportSection.tsx
  src/components/Search/ReportListPreview.tsx
  src/components/Search/SearchResult.tsx
  src/components/common/ReportArticle/ReportArticleCard/ReportArticleCard.tsx
  src/components/common/ReportArticle/ReportArticleCard/SharedModal.tsx
  src/components/common/ReportArticle/ReportArticleList/ReportArticleList.tsx
  src/hooks/queries/Auth/useSignIn.tsx
  src/hooks/queries/Auth/useUser.tsx
  src/hooks/queries/Auth/useUserAsyncStorage.tsx
  src/hooks/queries/Reports/useReporSearchQuery.tsx
  src/navigation/RootStackNavigator.tsx
  src/navigation/TabNavigator.tsx
  src/screens/CompleteLogin.tsx
  src/screens/CompleteReportPost.tsx
  src/screens/Home.tsx
  src/screens/Onboarding.tsx
  src/screens/ReportArticleDetail.tsx
  src/screens/ReportPost.tsx
  src/screens/SetName.tsx
  src/screens/SignIn.tsx
  src/screens/Solution.tsx
Labels: 📬 API, 🎨 Html&css, ✨ Feature
